
<html xmlns:th="http://www.thymeleaf.org">

<body >
	<div align="center" th:fragment="footer" style="background: #159957;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
">
	<div><a style="color: orange; font-size: 2.0em; font-weight: bold;">Blog</a><p>Created by PARK</p></div>
		<p>이용약관 | 블로그 서비스 운영정책 | 개인정보처리방침 | 책임의 한계와 법적고지 | 글 권리 보호하기 | 게시중단요청서비스</p>
	<p>Copyright © Park Corp. All Rights Reserved</p>
	</div>
</body>
</html>
