<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 mapper를 구별하는 식별자 역할-->
	<mapper namespace="org.hdcd.mapper.ReplyMapper">
	    
	    <insert id="insertReply">
	    <!-- 댓글을 추가 (댓글번호, 글번호, 댓글내용, 댓글작성자를 추가 댓글번호는 시퀀스로 추가 -->
	        insert into reply (rno,board_no,replytext,replyer) values
	        ( reply_seq.nextval, #{board_no}, #{replytext}, #{replyer} )
	    </insert>
	    
	    
	    <!-- id:호출할 쿼리문 명칭 
	    	 parameterType:동적으로 변수를 받을때 해당 변수의 타입 지정 
	    	 resultType:결과로 받을 VO,DTO객체(mybatis설정 파일에 기입한 alias이름)
	    	 #{value}:호출될때 받은 변수를 ParameterType에서 지정한 타입으로 넣어줌-->
	    <select id="listReply" resultType="org.hdcd.domain.Reply">
	    
		<!-- 댓글의 작성자와 회원 아이디가 같고, 글번호가 같을 경우에 댓글 리스트를 검색 (내림차순으로)-->
	        select rno,board_no,replyer,regdate,updatedate,name,replytext 
	        from reply r, member m
	        where r.replyer=m.userid and board_no=#{board_no}
	        order by rno    
	    </select>
	    
	</mapper>

